body {
  font-family: Arial, sans-serif;
  background-color: #eaf4ff;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  background-color: #198754;
  color: white;
  padding: 30px;
  text-align: center;
  border-bottom: 5px solid #145c32;
}

main {
  padding: 20px;
}